.banner{
    display:block;
    margin:auto;
    width: 2400px;
    height: 1200px;
    position: relative;
}

.perfil{
    display:block;
    margin:auto; 
    position: absolute;
    left: 1050px;
    top: 120px;  
    width: 380px;
    height: 500px;
}

.enlacepagina{
    display:block;
    margin:auto; 
    position: absolute;
    left: 1150px;
    top: 700px;  
    font-family: monospace;
    font-size: xxx-large;
    color: antiquewhite;
}

.redes{
    display:block;
    margin:auto; 
    position: absolute;
    left: 1100px;
    top: 900px; 
}

.enlacesegundapagina{
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
    color: cadetblue;
}

strong{
    font-size: 30px;
    padding: 2em;
}

p{
    padding-left: 1.5cm;
    font-size: 20 px;
}

